.element__like {
    grid-area: like;
    display: flex;
    width: 22px;
    height: 19px;
    margin-top: 30px;
    margin-right: 20px;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: end;
    
}

.element__like:hover {
    opacity: 0.5; 
    }