.header__logo {
    width: 142px;
    height: 33px;
    background-image: url(../../../images/logo/Vector.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    border: 1px solid red; 
}