.profile__column {
    display: flex;
    flex-direction: row;
    max-width: min-content;
    
}

@media screen and (max-width: 850px) {
    .profile__column {
    margin: auto;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    }
}