.popup__style-photo {
display: flex;
flex-direction: column;
margin: auto;
width: fit-content;
min-width: 282px;
}
    
@media screen and (max-width: 320px) {
.popup__style-photo {
margin: auto;
width: calc((240/320)*100%);
min-width: 240px;
}
}