.profile {
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: calc((880/1280)*100%);
    justify-content: center;
    z-index: 0;
}

@media screen and (max-width: 850px) {
    .profile {
    flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .profile {
    margin-top: 42px;
    width: 282px;
    
}
}
