.popup__user-info {
    border: 0;
    padding: 0;
    width: calc((358/430)*100%);
    min-width: 238px;
    min-height: 27px;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 320px) {
    .popup__user-info {
    width: 238px;
    margin: auto;
    margin-top: 56px;
    
}
}