.popup__error {
    display: block;
    padding: 0;
    width: calc((358/430)*100%);
    min-width: 238px;
    min-height: 27px;
    margin: auto;
    margin-top: 5px;
    font-weight: 400px;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    
}