.footer {
    margin: auto;
    margin-top: 67px;
    display: flex;
    min-width: 318px;
    width: calc((880/1280)*100%);
    padding-bottom: 60px;  
}

@media screen and (max-width: 320px) {
.footer {
    min-width: 282px;
    margin-top: 48px;
    padding-bottom: 36px;
}
}