.popup__container {
margin: 0;
margin-top: 8px;
display: flex;
flex-direction: column;
width: calc((430/470)*100%);
max-width: 430px;
min-width: 282px;
height: 330px;
background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
z-index: 2;
}

@media screen and (max-width: 320px) {
.popup__container {
margin-top: 16px;
width: calc((282/320)*100%);
height: 322px;
}
}