.popup__submit-btn {
border: 0;
padding: 0;
margin: auto;
margin-bottom: 37px;
width: calc((358/430)*100%);
min-width: 238px;
height: 50px;
background-color: rgba(0, 0, 0, 1);
border-radius: 2px;
}

.popup__submit-btn:hover {
opacity: 0.8; 
}

@media screen and (max-width: 320px) {
.popup__submit-btn {
margin-bottom: 25px;
width: 238px;
height: 46px;
}
}