.element {
    position: relative;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content;
    grid-template-areas:
        "photo photo"
        "place-name like";
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 0;
    }
@media screen and (max-width: 320px) {
    .element {
    grid-template-rows: 282px 79px;
    }
}