.element__photo {
    position: relative;
    display: flex;
    grid-area: photo;
    width: 282px;
    height: 282px;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px 10px 0px 0px;
}


@media screen and (max-width: 850px) {
    .element__photo {
    width: 100%;
    }
}