.element__photo {
    position: relative;
    display: flex;
    grid-area: photo;
    width: 100%;
    height: min-content;
    object-fit: contain;
    overflow: hidden;
    z-index: 1;
}

@media screen and (max-width: 850px) {
    .element__photo {
    width: 100%;
    }
}